



<div style="text-align:center;">
    <h1 >Menu</h1>


<input  style="width: 820px" type="button" value="Add  Mark"   onclick="location.href='@Url.Action("AddMark")'" />
<input  style="width: 820px" type="button" value="Add  Product" onclick="location.href='@Url.Action("AddProduct")'" />
<input  style="width: 820px" type="button" value="Delete  Product" onclick="location.href='@Url.Action("Delete  Product")'" />
<input  style="width: 820px" type="button" value="Delete  Mark"   onclick="location.href='@Url.Action("DeleteMark")'" />
<input  style="width: 820px" type="button" value="All producs"  onclick="location.href='@Url.Action("AllProducts")'" />
<input  style="width: 820px" type="button" value="All  Mark"   onclick="location.href='@Url.Action("AllMarks")'" />

</div>


<style>
body{
    background:#023047;
}
   input[type=button]{
        background:orange;
        padding:20px;
        margin-top:40px;
        border-radius: 12px;
    }
    h1{
        color:orange;
        padding-top:150px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>